In [1]:
import pandas as pd

In [2]:
file_path = ("Resources/cleaned_drug_data.csv")
df = pd.read_csv(file_path)

df

,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,AScore,...,Legalh,LSD,Meth,Mushrooms,Nicotine,VSA,illegal_score_sum,legal_score_sum,illegal_use,legal_use
0,2,25-34,M,Doctorate degree,UK,White,-0.67825,1.93886,1.43533,0.76096,...,0,0,1,0,1,0,3,4,1,1
1,3,35-44,M,Professional certificate/ diploma,UK,White,-0.46725,0.80523,-0.84732,-1.62090,...,0,0,0,0,0,0,0,3,0,1
2,4,18-24,F,Masters degree,UK,White,-0.14882,-0.80615,-0.01928,0.59042,...,0,0,0,0,0,0,1,3,1,1
3,5,35-44,F,Doctorate degree,UK,White,0.73545,-1.63340,-0.45174,-0.30172,...,0,0,0,0,0,0,0,3,0,1
4,6,65+,F,Left school at 18 years,Canada,White,-0.67825,-0.30033,-1.55521,2.03972,...,0,0,0,0,1,0,0,3,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1871,1884,18-24,F,"Some college or university, no certificate or ...",USA,White,-1.19430,1.74091,1.88511,0.76096,...,1,1,0,0,0,1,2,4,1,1
1872,1885,18-24,M,"Some college or university, no certificate or ...",USA,White,-0.24649,1.74091,0.58331,0.76096,...,1,1,1,1,1,0,3,5,1,1
1873,1886,25-34,F,University degree,USA,White,1.13281,-1.37639,-1.27553,-1.77200,...,0,0,0,0,1,0,5,4,1,1
1874,1887,18-24,F,"Some college or university, no certificate or ...",USA,White,0.91093,-1.92173,0.29338,-1.62090,...,1,1,0,1,1,0,3,5,1,1
1875,1888,18-24,M,"Some college or university, no certificate or ...",Republic of Ireland,White,-0.46725,2.12700,1.65653,1.11406,...,1,1,0,1,1,0,6,5,1,1

In [3]:
df.columns

Index(['ID', 'Age', 'Gender', 'Education', 'Country', 'Ethnicity', 'Nscore',
       'Escore', 'Oscore', 'AScore', 'Cscore', 'Impulsive', 'SS', 'Alcohol',
       'Amphet', 'Amyl', 'Benzos', 'Caff', 'Cannabis', 'Choc', 'Coke', 'Crack',
       'Ecstasy', 'Heroin', 'Ketamine', 'Legalh', 'LSD', 'Meth', 'Mushrooms',
       'Nicotine', 'VSA', 'illegal_score_sum', 'legal_score_sum',
       'illegal_use', 'legal_use'],
      dtype='object')

In [4]:
filtered_df = df[["Age", "Gender", "Education", "Country", "Ethnicity", "Nscore", "Escore", "Oscore", "AScore", "Cscore",\
                    "Impulsive", "SS", "illegal_use"]]

In [5]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [6]:
X = filtered_df.drop("illegal_use", axis = 1)
y = filtered_df["illegal_use"]

In [7]:
X_dummies = pd.get_dummies(X)

In [8]:
X_dummies

,Nscore,Escore,Oscore,AScore,Cscore,Impulsive,SS,Age_18-24,Age_25-34,Age_35-44,...,Country_Republic of Ireland,Country_UK,Country_USA,Ethnicity_Asian,Ethnicity_Black,Ethnicity_Mixed-Black/Asian,Ethnicity_Mixed-White/Asian,Ethnicity_Mixed-White/Black,Ethnicity_Other,Ethnicity_White
0,-0.67825,1.93886,1.43533,0.76096,-0.14277,-0.71126,-0.21575,0,1,0,...,0,1,0,0,0,0,0,0,0,1
1,-0.46725,0.80523,-0.84732,-1.62090,-1.01450,-1.37983,0.40148,0,0,1,...,0,1,0,0,0,0,0,0,0,1
2,-0.14882,-0.80615,-0.01928,0.59042,0.58489,-1.37983,-1.18084,1,0,0,...,0,1,0,0,0,0,0,0,0,1
3,0.73545,-1.63340,-0.45174,-0.30172,1.30612,-0.21712,-0.21575,0,0,1,...,0,1,0,0,0,0,0,0,0,1
4,-0.67825,-0.30033,-1.55521,2.03972,1.63088,-1.37983,-1.54858,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1871,-1.19430,1.74091,1.88511,0.76096,-1.13788,0.88113,1.92173,1,0,0,...,0,0,1,0,0,0,0,0,0,1
1872,-0.24649,1.74091,0.58331,0.76096,-1.51840,0.88113,0.76540,1,0,0,...,0,0,1,0,0,0,0,0,0,1
1873,1.13281,-1.37639,-1.27553,-1.77200,-1.38502,0.52975,-0.52593,0,1,0,...,0,0,1,0,0,0,0,0,0,1
1874,0.91093,-1.92173,0.29338,-1.62090,-2.57309,1.29221,1.22470,1,0,0,...,0,0,1,0,0,0,0,0,0,1
1875,-0.46725,2.12700,1.65653,1.11406,0.41594,0.88113,1.22470,1,0,0,...,1,0,0,0,0,0,0,0,0,1

In [9]:
from sklearn.decomposition import PCA

In [10]:
pca = PCA(n_components = .90)

In [11]:
pca_array = pca.fit_transform(X_dummies)

In [12]:
pca.explained_variance_ratio_

array([0.24117979, 0.18704455, 0.09386126, 0.07143361, 0.06828525,
       0.05216889, 0.03943957, 0.03597272, 0.03203599, 0.02534139,
       0.02281284, 0.01999863, 0.01713567])

In [13]:
X_train, X_test, y_train, y_test = train_test_split(pca_array, y)

In [14]:
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [15]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()

In [16]:
classifier.fit(X_train_scaled, y_train)

LogisticRegression()

In [17]:
print(f"Training Accuracy: {classifier.score(X_train_scaled, y_train)}")
print(f"Testing Accuracy: {classifier.score(X_test_scaled, y_test)}")

Training Accuracy: 0.8088130774697939
Testing Accuracy: 0.8038379530916845

In [18]:
from sklearn.ensemble import RandomForestClassifier

In [19]:
clf = RandomForestClassifier(n_estimators = 500, max_depth = 10).fit(X_train_scaled, y_train)
print(f"Training Accuracy: {clf.score(X_train_scaled, y_train)}")
print(f"Testing Accuracy: {clf.score(X_test_scaled, y_test)}")

Training Accuracy: 0.9729921819474058
Testing Accuracy: 0.7846481876332623

In [20]:
copy_df = X_dummies.copy()
copy_df.head()

,Nscore,Escore,Oscore,AScore,Cscore,Impulsive,SS,Age_18-24,Age_25-34,Age_35-44,...,Country_Republic of Ireland,Country_UK,Country_USA,Ethnicity_Asian,Ethnicity_Black,Ethnicity_Mixed-Black/Asian,Ethnicity_Mixed-White/Asian,Ethnicity_Mixed-White/Black,Ethnicity_Other,Ethnicity_White
0,-0.67825,1.93886,1.43533,0.76096,-0.14277,-0.71126,-0.21575,0,1,0,...,0,1,0,0,0,0,0,0,0,1
1,-0.46725,0.80523,-0.84732,-1.62090,-1.01450,-1.37983,0.40148,0,0,1,...,0,1,0,0,0,0,0,0,0,1
2,-0.14882,-0.80615,-0.01928,0.59042,0.58489,-1.37983,-1.18084,1,0,0,...,0,1,0,0,0,0,0,0,0,1
3,0.73545,-1.63340,-0.45174,-0.30172,1.30612,-0.21712,-0.21575,0,0,1,...,0,1,0,0,0,0,0,0,0,1
4,-0.67825,-0.30033,-1.55521,2.03972,1.63088,-1.37983,-1.54858,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [21]:
personality_df = copy_df[["Nscore", "Escore", "Oscore", "AScore", "Cscore", "Impulsive", "SS"]]

In [22]:
personality_df

       Nscore   Escore   Oscore   AScore   Cscore  Impulsive       SS
0    -0.67825  1.93886  1.43533  0.76096 -0.14277   -0.71126 -0.21575
1    -0.46725  0.80523 -0.84732 -1.62090 -1.01450   -1.37983  0.40148
2    -0.14882 -0.80615 -0.01928  0.59042  0.58489   -1.37983 -1.18084
3     0.73545 -1.63340 -0.45174 -0.30172  1.30612   -0.21712 -0.21575
4    -0.67825 -0.30033 -1.55521  2.03972  1.63088   -1.37983 -1.54858
...       ...      ...      ...      ...      ...        ...      ...
1871 -1.19430  1.74091  1.88511  0.76096 -1.13788    0.88113  1.92173
1872 -0.24649  1.74091  0.58331  0.76096 -1.51840    0.88113  0.76540
1873  1.13281 -1.37639 -1.27553 -1.77200 -1.38502    0.52975 -0.52593
1874  0.91093 -1.92173  0.29338 -1.62090 -2.57309    1.29221  1.22470
1875 -0.46725  2.12700  1.65653  1.11406  0.41594    0.88113  1.22470

[1876 rows x 7 columns]

In [23]:
X_train, X_test, y_train, y_test = train_test_split(personality_df, y)

In [24]:
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [25]:
classifier = LogisticRegression()

In [26]:
classifier.fit(X_train_scaled, y_train)

LogisticRegression()

In [27]:
print(f"Training Accuracy: {classifier.score(X_train_scaled, y_train)}")
print(f"Testing Accuracy: {classifier.score(X_test_scaled, y_test)}")

Training Accuracy: 0.7341862117981521
Testing Accuracy: 0.744136460554371

In [28]:
from sklearn.ensemble import RandomForestClassifier

In [29]:
clf = RandomForestClassifier(n_estimators = 500, max_depth = 10).fit(X_train_scaled, y_train)
print(f"Training Accuracy: {clf.score(X_train_scaled, y_train)}")
print(f"Testing Accuracy: {clf.score(X_test_scaled, y_test)}")

Training Accuracy: 0.9495380241648899
Testing Accuracy: 0.7505330490405118